body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
	width: 95%;
}

.vertical-offset-50 {
    padding-top:50px;
}

.vertical-offset-20 {
    padding-top:20px;
}

.vertical-offset-5 {
    padding-top:5px;
}

.center-text {
	text-align: center;
}

.center-table * {
	text-align: center;
}

table > tfoot> tr {
	display: none;
}

.no-border > tr > td:last-child {
	border: none;
	width: auto;
	padding-right: 0px;
	margin-right: 0px;
}

.hide {
	display: none;
}

.icon-button {
	-webkit-appearance: none;
	outline: none;
	border: 0;
	padding: 0px;
	margin-left: 5px;
	background: transparent;
}

.sort-buttons th:hover {
	cursor: pointer;
}

.sel {
    width: 100%;
    font-size: 11px;
    height: 28px;
    text-align: center;
}